.container {
    position: relative;
    width: 600px;
    height: 600px;
}

.canvas {
    display: block;
}

@media (max-width: 1024px) {
    .container {
        width: 400px;
        height: 400px;
    }

    .canvas {
        width: 400px !important;
        height: 400px !important;
    }
}

@media (max-width: 640px) {
    .container {
        width: 300px;
        height: 300px;
    }

    .canvas {
        width: 300px !important;
        height: 300px !important;
    }
}